nav{
    background: var(--orange);
position: fixed top;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-item a{
    color: white;
    font-family: var(--font-one);
}



.navbar-brand{
    font-family: var(--font-three);
    color: black;
    font-weight: bolder;
}
